*.json
!.boxGenerator._boxGeneratorTest.json
!.gridLayout._gridLayoutGeneratorMode1.json
!.gridLayout._gridLayoutGeneratorMode2.json
!.gridLayout._gridLayoutGeneratorMode3.json
*.scad
*.stl
*__pycache__
*.venv